body {
    font-family: 'Roboto', sans-serif !important;
}
.content {
    margin-top: 55px;
    margin-left: 250px;
    padding: 30px;
    margin-right: 100px;
}
.td_suggestions {
    min-width: 270px;
}

#suggestions {
    left: 0px;
    top: 73px;
}
.line-through {
    text-decoration: line-through;
}
.bg-success {
    background: #52a851 !important;
}
.bg-light {
    background: #f4f4f4 !important;
}

@media (max-width: 991px) {
    .box-order {
        position: fixed;
        bottom: 0px;
        background: #f4f4f4;
        padding: 20px 10px;
        z-index: 100;
        -webkit-box-shadow: 0px 0px 6px #0000004d;
        -moz-box-shadow:  0px 0px 6px #0000004d;
        box-shadow: 0px 0px 6px #0000004d;
    }
    .box-product-order {
        margin-bottom: 250px;
    }
}
